.tags {
    display: flex;
    margin-bottom: 3rem;
    background-color: var(--color-dark-2);
    border-radius: 0.75rem;
}

@media (max-width: 1000px) {
    .tags {
        flex-direction: column;
    }
}