.portfolioGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    max-width: 1200px;
}

@media (max-width: 1100px) {
    .portfolioGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .portfolioGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}