.redBar {
    width: 32rem;
    height: 0.25rem;
    background-color: var(--color-red);
}

.navBar {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    justify-content: center;
    align-items: center;

    font-weight: 300;
    font-size: 1.2rem;
}