header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.nameHeader {
    font-family: "Neue Haas Grotesk Display Pro 75 Bold";
    font-size: 3.5em;
}

.headerLinks {
    padding-top: 2rem;
    font-size: 1.4rem;
    font-family: 'Neue Haas Grotesk Display Pro 55 Roman';
}

.headerLink {
    margin: 0.75rem;
}