.itemPreview {
    background-color: var(--color-dark-2);
    border-radius: 0.75rem;
    overflow: hidden;
    opacity: 0.95;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.itemPreview:hover {
    opacity: 1;
    transform: scale(1.01);
}

.itemPreview img {
    border-radius: 0;
    height: auto;
    width: 100%;
    object-fit: cover;
}

.previewInfo {
    padding: 1rem;
}

.itemTitle {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.itemDescription {
    font-size: 1rem;
}