.portfolio {
    padding: 3rem;
}

.tags {
    display: flex;
    margin-bottom: 3em;
    background-color: var(--color-dark-2);
    border-radius: 0.75rem;
}

.switch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.tag {
    position: absolute;
    cursor: pointer;

    color: var(--color-light);
    transition: opacity 0.3s ease;
    font-family: 'Neue Haas Grotesk Display Pro 65 Medium';
    font-size: 1rem;
    opacity: 0.67;
}

.tag:hover {
   opacity: 1; 
}

.tag::before {
    position: absolute;
    top: 0.33rem;
    left: 0;
    content: "";
    height: 0.33rem;
    width: 0.33rem;
    background-color: var(--color-light);
    opacity: 0;
    border-radius: 1rem;
    transition: opacity 0.3s ease, left 0.3s ease;
}

input:checked + .tag {
    opacity: 1;
}

input:checked + .tag::before {
    opacity: 1;
    left: -0.67rem;
}

.portfolioGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

@media (max-width: 900px) {
    .portfolioGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .portfolioGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.itemPreview {
    background-color: var(--color-dark-2);
    border-radius: 0.75rem;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
                0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.itemPreview a {
    color: var(--color-light);
}

.itemPreview img {
    border-radius: 0;
}

.itemPreview:hover {
    transform: scale(1.02);
}

.itemPreview img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.previewInfo {
    padding: 1.25rem;
}