.portfolio {
    padding: 3rem;
}

.portfolioGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

@media (max-width: 900px) {
    .portfolioGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .portfolioGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.itemPreview {
    background-color: var(--color-dark-2);
    border-radius: 0.75rem;
    overflow: hidden;
}

.itemPreview a {
    color: var(--color-light);
}

.itemPreview img {
    border-radius: 0;
}

.itemPreview img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.previewInfo {
    padding: 1.25rem;
}